# Ignore all files in the root 'target/' directory except the executable JAR
target/*
!target/api-task-0.0.1-SNAPSHOT.jar

# Keep the .mvn/wrapper/maven-wrapper.jar as it's part of the Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/